.root {
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: auto;
  margin-bottom: calc(var(--mui-spacing) * 2);
}

.imageContainer {
  border-radius: var(--mui-radius);
  padding: var(--mui-spacing);
}

.image {}

.content {
  max-width: 400px;
  margin-left: calc(var(--mui-spacing) * -2);
  margin-right: calc(var(--mui-spacing) * -2);
  padding: var(--mui-spacing);
  border-radius: 12px;
  box-shadow: var(--mui-shadows-5);
  backdrop-filter: blur(10px);
  background: rgb(from var(--mui-palette-background-paper) r g b / .6)
}

.image {
  /*box-shadow: var(--mui-shadows-2);*/
  border-radius: 12px;
  width: 400px;
}

.title {
  font-size: 1.25em;
  font-weight: 500;
}

.desc {
  color: var(--mui-palette-text-secondary);
  font-size: 1em;
}
