.root {
  padding: var(--mui-spacing) var(--section-padding);
  display: flex;
  align-items: center;
}

.rootLink {
  display: inline-flex;
  align-items: center;
}

.nav {
  margin-left: auto;

  & > * {
    margin-left: calc(var(--mui-spacing) / 2) !important;
  }
}
