.root {
  padding: var(--section-padding);
}

.container {
  gap: var(--mui-spacing);
  padding: calc(var(--mui-spacing) * 2);
  /*display: flex;*/
  background-image: url(/bg.png);
  background-size: cover;
  border-radius: var(--mui-shape-borderRadius);
  flex: 1;
}


.head {
  display: grid;
  grid-template-columns: 32px 180px 2fr 2fr;
  padding: var(--mui-spacing);
}

.col_head {
  align-self: center;
  font-size: 1.2rem;
  margin: 0;
  white-space: nowrap;
  font-weight: 500;
}

.color-error {
  color: var(--mui-palette-error-main);
}

.item {
  border: 1px solid rgba(255, 255, 255, .4);
  border-radius: var(--mui-shape-borderRadius);
  gap: calc(var(--mui-spacing) * 2);
  padding: var(--mui-spacing);
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, .4);
  display: grid;
  grid-template-columns: 32px 2fr 2fr;
}

@media (max-width: 768px) {
  .item {
    grid-template-columns: auto 180px;
  }

  .item > :nth-child(3),
  .item > :nth-child(4) {
    grid-column: 1 / -1;
  }
}

.item:not(:first-of-type) {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.item:not(:last-of-type) {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-bottom: 2px;
}

.item_icon {
  font-size: 2rem !important;
  align-self: center;
}

.item_title {
  align-self: center;
  margin: 0;
  white-space: nowrap;
  font-weight: 500;
}

.item_problem {
}

.item_problem {
}

.item_body {
  display: flex;
}


/*.root {*/
/*  padding: var(--section-padding);*/
/*}*/

/*.container {*/
/*  gap: calc(var(--mui-spacing) * 2);*/
/*  padding: calc(var(--mui-spacing) * 2);*/
/*  !*display: flex;*!*/
/*  background-image: url(/bg.png);*/
/*  background-size: cover;*/
/*  border-radius: var(--mui-shape-borderRadius);*/
/*  flex: 1;*/
/*  display: grid;*/
/*  grid-template-columns: 1fr 1fr;*/
/*}*/

/*.item {*/
/*  !*box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .05);*!*/
/*  display: flex;*/
/*  border: 1px solid rgba(255, 255, 255, .7);*/
/*  border-radius: var(--mui-shape-borderRadius);*/
/*  gap: var(--mui-spacing);*/
/*  padding: var(--mui-spacing);*/
/*  backdrop-filter: blur(10px);*/
/*  background: rgba(255, 255, 255, .6);*/
/*}*/

/*.item_head {*/
/*  !*align-self: flex-end;*!*/
/*  min-width: 152px;*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  gap: calc(var(--mui-spacing) / 2);*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*}*/

/*!*.item:not(:first-of-type) {*!*/
/*!*  border-top-left-radius: 6px;*!*/
/*!*  border-top-right-radius: 6px;*!*/
/*!*}*!*/

/*!*.item:not(:last-of-type) {*!*/
/*!*  border-bottom-left-radius: 6px;*!*/
/*!*  border-bottom-right-radius: 6px;*!*/
/*!*  margin-bottom: 2px;*!*/
/*!*}*!*/

/*.item_icon {*/
/*  color: var(--mui-palette-text-secondary);*/
/*  !*color: var(--mui-palette-primary-main);*!*/
/*  font-size: 2.5rem !important;*/
/*}*/

/*.item_title {*/
/*  font-size: 1.2rem;*/
/*  align-self: center;*/
/*  margin: 0;*/
/*  white-space: nowrap;*/
/*  font-weight: 500;*/
/*  text-align: center;*/
/*}*/

/*.item_problem {*/
/*}*/

/*.item_solution_title {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  font-weight: 500;*/
/*  margin-top: calc(var(--mui-spacing) / 2);*/
/*  color: var(--mui-palette-success-main);*/
/*}*/

/*.item_problem_title {*/
/*  font-weight: 500;*/
/*  color: var(--mui-palette-error-main);*/
/*}*/

/*.item_problem {*/
/*}*/

/*.item_body {*/
/*  display: flex;*/
/*}*/

/*!*.problem {*!*/
/*!*  backdrop-filter: blur(10px);*!*/
/*!*  background: rgba(255, 255, 255, .4);*!*/
/*!*  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px 0px;*!*/
/*!*  !*background: #ffe7e7;*!*!*/
/*!*  padding: var(--mui-spacing);*!*/
/*!*  border-radius: var(--mui-shape-borderRadius);*!*/
/*!*  flex: 1;*!*/
/*!*}*!*/

/*!*.solution {*!*/
/*!*  backdrop-filter: blur(10px);*!*/
/*!*  background: rgba(230, 255, 240, .4);*!*/
/*!*  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px 0px;*!*/
/*!*  flex: 1;*!*/
/*!*  padding: var(--mui-spacing);*!*/
/*!*  border-radius: var(--mui-shape-borderRadius);*!*/
/*!*}*!*/